body {
  margin: 0;
  background-color: #0d000e;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  background-color: black;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

h1,
a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.5s;
}

li {
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}

button {
  background: transparent;
  border: none;
  color: white;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

li:hover,
h1:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus ~ ul {
  height: 180px;
}
@media (max-width: 700px) {
  nav,
  ul {
    flex-direction: column;
  }
  ul {
    text-align: left;
    margin: 0;
    height: 0;
	
  }
  nav {
    padding: 0;
    align-items: flex-start;
  }
  button {
    display: flex;
	
  }
  li,
  ul {
    width: 110px;
    margin-top: 20px;
	
  }

  li{
	background-color: #a328ac;
	margin: 18px;
	padding: 4px;
  }
  h1 {
    margin: 10px;
  }
}
