body {
  margin: 0;
  background-color: #0d000e;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  background-color: black;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  min-width: min-content;
  
}

h1,
a {
  color: white;
  text-decoration: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  display: flex;
  align-items: center;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  
  transition: all 0.5s;
}

.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
}


li {
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}

button {
  background: transparent;
  border: none;
  color: white;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
}

li:hover,
.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.active-navbar {
  height: 85px;
  transition: 200ms;
}

@media (min-width: 700px) {
  #navbar {
    height: 20px;
  }
  
}

@media (max-width: 700px) {
  nav,
  ul {
    flex-direction: column;
  }
  ul {
    text-align: left;
    margin: 0;
    height: 0;
  }
  nav {
    padding: 0;
    align-items: flex-start;
  }
  button {
    display: flex;
    margin: 10px;
  }
  li,
  ul {
    width: 110px;
    margin-top: 20px;
  }

  li {
    margin: 18px;
    padding: 4px;
  }
  h1 {
    margin-top: 20px;
  }
  img {
    width: 0%;
  }
  ul, navbar{
    height:20px;
    overflow: hidden;
  }
}

.logoknotfest {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.logoknotfest img {
  height: 200px;
  width: 600px;
}

.imagem2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.imagem3 {
  display: flex;
  justify-content: center;
  margin-top: -470px;
  width: 100%;
}

.imagem3 img {
  width: 500px;
  height: 500px;
  max-width: 100%;
}

@media (max-width: 700px) {
  .logoknotfest {
    width: 100%;
    margin-top: 20px;
  }

  .logoknotfest img {
    height: 100px;
    width: 300px;
  }

  .imagem2 {
    margin-top: 700px;
    width: 100%;
  }

  .imagem2 img{
    width: 400px;
    height: 600px;
    margin-top: -650px;
  }

  .imagem3 {
    width: 100%;
    margin-top: -400px;
  }
}

.dataum{
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-top: 100px;
  
  
}

.sambodromo{
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.redes h1{
  justify-content: center;
  margin-top: 100px;
  display: flex;
}

.redes a{
  color: red;
  padding: 10px;
  justify-content: center;
  font-size: 22px;
  list-style: none;
  display: flex;
}  

.links-redes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

