body {
  margin: 0;
  background-color: #0d000e;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  background-color: black;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

h1,
a {
  color: white;
  text-decoration: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  display: flex;
  align-items: center;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.5s;
}

li {
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}

button {
  background: transparent;
  border: none;
  color: white;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

li:hover,
h1:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus ~ ul {
  height: 200px;
}
@media (max-width: 700px) {
  nav,
  ul {
    flex-direction: column;
  }
  ul {
    text-align: left;
    margin: 0;
    height: 0;
  }
  nav {
    padding: 0;
    align-items: flex-start;
  }
  button {
    display: flex;
    margin: 10px;
  }
  li,
  ul {
    width: 110px;
    margin-top: 20px;
  }

  li {
    background-color: #a328ac;
    margin: 18px;
    padding: 4px;
  }
  h1 {
    margin: 10px;
  }
  img {
    width: 0%;
  }
}
